<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据引擎-->
    <add key="searchEngine.domain" value="http://192.168.0.102:6110/searchengine/api/" />
    <add key="searchEngine.domain.articles" value="http://192.168.0.102:6110/searchengine/api/articles/" />
    <add key="searchEngine.domain.articleColumns" value="http://192.168.0.102:6110/searchengine/api/articlesColumns/" />

  </appSettings>
</configuration>