<?xml version="1.0" encoding="utf-8" ?>
<dataCommands xmlns="http://ns.renative.com/configuration/data"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation="http://ns.renative.com/configuration/data
				commands.xsd">

  <!--获取文章-->
  <dataCommand name="GetAllFilter" database="EC" commandType="Text">
    <commandText>
      <![CDATA[  
      SELECT  A.TransactionNumber as [id],
			        A.CategoryID as [category_id],
               A.SortOrder as [order],
			        B.PropertyID as [filter_value],
			        B.[Description] AS [filter_name]
			 FROM Yintaicontent.dbo.OnlineCategoryAndFilterPropertyRelation A WITH(NOLOCK) 
		   INNER JOIN Yintaicontent.dbo.ItemProfileProperties B WITH(NOLOCK) 
		   ON A.PropertyID = B.PropertyID
      ]]>
    </commandText>
    <parameters>

    </parameters>
  </dataCommand>

</dataCommands>
