<?xml version="1.0" encoding="utf-8" ?>
<dataCommandFiles xmlns="http://ns.renative.com/configuration/data"
				  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				  xsi:schemaLocation="http://ns.renative.com/configuration/data
				  commandfiles.xsd">

  <file name="commands_search.config" />
  <!--<file name="commands_styleSearch.config" />-->

</dataCommandFiles>