<?xml version="1.0" encoding="utf-8" ?>
<connections xmlns="http://ns.renative.com/configuration/data"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			  xsi:schemaLocation="http://ns.renative.com/configuration/data
			  connections.xsd">
  <group name="Website">
    <connection name="EC">
      <connectionString>
        <![CDATA[Data Source=LRX-PC\SQLSERVER2012;Initial Catalog=WechatMsg;MultipleActiveResultSets=True;user id=sa;Password=!QA2ws]]>
      </connectionString>
    </connection>
  </group>
</connections>